@font-face {
    font-family: Baby_Coffee;
    src: url(./assets/fonts/Baby_Coffee.woff);
}

@font-face {
    font-family: Montserrat;
    src: url(./assets/fonts/Montserrat.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: Montserrat;
}

/* Header */

header {
    background-color: #7D0E23;
    color: white;
    padding: 5px 60px;
}

#barre {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#section {
    margin-left: auto;
}

#reseaux {
    display: flex;
}

.divider {
    margin: 10px;
    height: 30px;
    border-right: 1px solid white;
}

#barre h1 {
    font-size: 50px;
    font-family: Baby_Coffee;
}

.chapitre {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

.logo {
    width: 30px;
    height: 30px;
    margin: 5px;
}

/* Main */

#flower {
    background-image: url(./assets/images/flowered_coffee.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#flower h1,p {
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 2px #7D0E23;
}

#flower p {
    font-size: 30px;
}
